$mainContainerBG: #151c25;
$letterSpacing1: 4px;

/*HUSKY PUPPY LANDING PAGE*/
.husky-puppies-card-page-container {
    background-color: $mainContainerBG;
}
.huskypuppies-page-container {
        height: 100%;
        background: url(/CSS/pics/J_artwork1.jpg);
          /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .custom-paragraph-2 {
        height: 50%;
    
    }

.col-custom-1 {
  padding: 1rem;
  background-color: rgba(0, 255, 255, 0.349);
  border: 1px solid rgb(0, 0, 0);
  color: black;
  text-align: center;
}
/*                     HUSKY PUPPY PRODUCT PAGE                          */
.husky-puppies-card-page {
    height: 100%;
    background: $mainContainerBG;
    
    .col-custom-2 {
    background-color: rgb(0, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    color: black;
    text-align: center;
  }

    
  /*Styles for product card*/
  .product { 
        .product-card {
        z-index: 1;
        background: #1D212B;
        position: relative;
        width: 300px;
        height: 400px;
        margin: 40px;
        border-radius: 10px;
        &:hover {
          transition-duration: 1s;
          box-shadow: 0px 0px 20px black;
        }
        &:after {
          content: '';
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        .product-img {
          z-index: 1;
          position: absolute;
          background-color: green;
          max-width: 350px;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .name{
          z-index: 2;
          color: #fff;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 130px;
          font-size: 20px;
          letter-spacing: 1px;
        }
        .price{
          z-index: 2;
          color: #fff;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 80px;
          font-size: 30px;
          font-weight: 300;
        }
        .popup-btn{
          z-index: 2;
          color: #fff;
          background: #555;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          padding: 10px 15px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
          color: white;
          background: black;
          transition-duration: 1s;
          }
        }
      }
    .popup-view {
      z-index: 2;
      background: rgba(255, 255, 255, 0.5);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: 1.5s;
    }
   .popup-view.active{
    opacity: 1;
    visibility: visible;
    }
    .popup-card{
      position: relative;
      display: flex;
      width: 800px;
      height: 500px;
      margin: 20px;
      
      .product-img{
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 90%;
        transform: translateY(25px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        img{
          z-index: 2;
          position: relative;
          width: 450px;
          border-radius: 20px;
          left: -50px;
        }
      }
      .info{
        z-index: 2;
        background: #fff;
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 10px;
      }
      .close-card-btn{
        color: rgb(255, 0, 0);
        font-size: 200px;
        z-index: 3;
        position: absolute;
        right: 0;
        font-size: 20px;
        margin: 20px;
        cursor: pointer;
      }
    }
  }

}



  /*          POP-UP VIEW           */

  .product .popup-card .info h2{
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
  }
  
  .product .popup-card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .product .popup-card .info p{
    font-size: 15px;
    margin: 10px;
  }
  
  .product .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
  }
  
  .product .popup-card .info .add-cart-btn{
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
  }
  
  .product .popup-card .info .add-wish{
    color: #009DD2;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }






  
    
  

/*                  SCROLL BAR                   */
/* width */
body::-webkit-scrollbar {
  width: 15px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 255);
}

