@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* Welcome page*/
.page1 {
  background-image: url("../CSS/pics/huskywallpaper1.jpg");
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*                  H1s                  */
.welcome-h1s {
  position: absolute;
  display: flex;
  font-size: 4.5rem;
  flex-direction: column;
  top: 35%;
  left: 5%;
  z-index: 1;
  color: white;
  margin-right: 10px;
}
.firsth1 {
  animation: slideIn_right 1s ease;
}
.secondh1 {
  animation: slideIn_left 1.5s ease;
}
.thirdh1 {
  animation: slideIn_right 2s ease;
}
.fourthh1 {
  animation: slideIn_left 2.5s ease;
}
/*                  Buttons                  */
.buttons {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
}
button {
  position: absolute;
  transform: translate(-50, -50);
}
#recipebtn {
  margin: 0px 0px;
  animation: grow 2s ease;
}
#locationbtn {
  margin: 100px 0px;
  animation: grow 2s ease;
}
#guranteebtn {
  margin: 200px 0px;
  animation: grow 2s ease;
}
#contactbtn {
  margin: 300px 0px;
  animation: grow 2s ease;
}
#recipebtn,
#locationbtn,
#guranteebtn,
#contactbtn {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 4px;
}
button {
  background: none;
  color: #ccc;
  width: 240px;
  height: 80px;
  border: 1px solid #ffffff;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg);
}

button:hover {
  background: #241f1f;
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 1s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1.7s;
}
/*                  ANIMATIONS                   */
@keyframes slideIn_right {
  0% {
    transform: translateX(-200px);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes slideIn_left {
  0% {
    transform: translateX(200px);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes fade_top {
  0% {
    transform: translateY(-150px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
