/* font-family: 'Teko', sans-serif; */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
	font-size: 16px;
}


/* opening page. */

.parallax {
	position: relative;
	background-image: url("../CSS/pics/huskywallpaper1.jpg");
	margin-top: -25px;
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;



}

.header1 {
	font-family: 'Teko', sans-serif; 
	position: relative;
	top: 300px;
	text-align: center;
	letter-spacing: 6px;
	color: whitesmoke;
	text-shadow: 2px 3px 3px black;
	font-size: 5.25em;
}














/* location text/info */

 div.location {

	position: relative;
	background-color: #0b0c10;
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 560px;

 }


 div.h1location, .h1location, .locationlink, .locationP, .googlemaps, .locationP2 {
	 max-width: 100%;
	 color: white;
	 font-family: 'Noto Sans', sans-serif;
	 
 }

 .h1location p {
	 font-family: 'Teko', sans-serif;
 }

.h1location {
	position: relative;
	left: -150px;
	top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
	letter-spacing: 4px;
	
}

.locationlink {
	position: relative;
	
	background:
	linear-gradient(
	  to right,
	  var(--mainColor) 0%,
	  var(--mainColor) 5px,
	  transparent 5px
	);
   background-repeat: repeat-x;
   background-size: 100%;
   color: white;
   padding-left: 15px;

   text-decoration: none;
   letter-spacing: 15px;
}

.locationlink:hover {
	background:
	linear-gradient(
	  to right,
	  var(--mainColor) 0%,
	  var(--mainColor) 5px,
	  transparent
	);
	}

.locationP {

	position: relative;
	background-color: #0b0c10;
	background-repeat: no-repeat;
	background-size: 100px 100px 200px 200px;
	font-size: 20px;
	text-align: center;
	padding: 10px 10px;
	left: 160px;
	width: 40%;
	letter-spacing: 2.5px;
	border: 2px solid white;
	overflow-wrap: break-word;
	
}

.locationP2 {
	position: sticky;
	height: 170px;
	font-size: 20px;
	text-align: center;
	
	padding-left: 750px;
	letter-spacing: 2.5px;
}


.p2 {
	font-size: 30px;
}






