* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    background:#0b0c10;
}


.notice, .noticeRed {
    position: relative;
    margin-left: 300px;
    letter-spacing: 4px;
}
.notice {
    color: white;
}
.noticeRed {
    color: red;
}

.flexbox-container1 {
    display: flexbox;
    justify-content: center;
}
/* puppy 1 */
.puppy1 {
    position: relative;
    margin-top: 400px;
    margin-right: 1200px;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card1{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front1, .back1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front, img {
    height: 100%;
}
.back1 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front1 {
    transform: perspective(600px) rotateY(0deg);
}
.back1-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.sold {
    color: red;
}
.sold, .soldName {
    position: relative;
    top: 140px;
    letter-spacing: 4px;
}
.gender1 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid #66fcf1;
    border-radius: 20px;
}
#gender1 {
    color: #66fcf1;
    position: relative;
}
.parents {
    letter-spacing: 5px;
    position: relative;
    top: -140px;
}
.readyDate {
    position: relative;
    top: -50px;
    letter-spacing: 3px;
    font-size: 25px;
}

.btn1 {
    border-color: #008000;
    border-radius: 20px;
    padding: 0px 20px;
    outline: none;
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 40px 40px #008000 inset, 0 0 0 0 #008000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn1:hover {
    box-shadow: 0 0 10px 0 #4AC948 inset, 0 0 10px 4px #4AC948;
  }
.card1:hover > .front1 {
    transform: perspective(600px) rotateY(-180deg);
}
.card1:hover > .back1 {
    transform: perspective(600px) rotateY(0deg);
}










/* puppy 2*/
.puppy2 {
    position: relative;
    margin-top: 400px;
}
.card2{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front2, .back2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front2, img {
    height: 100%;
}
.back2 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front2 {
    transform: perspective(600px) rotateY(0deg);
}
.back2-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender2 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid #66fcf1;
    border-radius: 20px;
}
#gender2 {
    color: #66fcf1;
    position: relative;
}
.card2:hover > .front2 {
    transform: perspective(600px) rotateY(-180deg);
}
.card2:hover > .back2 {
    transform: perspective(600px) rotateY(0deg);
}







/* puppy 3 */
.puppy3 {
    position: relative;
    margin-top: 400px;
    margin-left: 1200px;
}
.card3{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front3, .back3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front3, img {
    height: 100%;
}
.back3 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front3 {
    transform: perspective(600px) rotateY(0deg);
}
.back3-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender3 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid pink;
    border-radius: 20px;
}
#gender3 {
    color: pink;
    position: relative;
}
.parents {
    letter-spacing: 5px;
    position: relative;
    top: -140px;
}
.readyDate {
    position: relative;
    top: -50px;
    letter-spacing: 3px;
    font-size: 25px;
}
.card3:hover > .front3 {
    transform: perspective(600px) rotateY(-180deg);
}
.card3:hover > .back3 {
    transform: perspective(600px) rotateY(0deg);
}




/* puppy 4 */
.puppy4 {
    position: relative;
    margin-top: 1000px;
    margin-right: 1200px;
}
.card4{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front4, .back4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front4, img {
    height: 100%;
}
.back4 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front4 {
    transform: perspective(600px) rotateY(0deg);
}
.back4-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender4 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid pink;
    border-radius: 20px;
}
#gender4 {
    color: pink;
    position: relative;
}
.card4:hover > .front4 {
    transform: perspective(600px) rotateY(-180deg);
}
.card4:hover > .back4 {
    transform: perspective(600px) rotateY(0deg);
}











/* */
/*  puppy 5 */
.puppy5 {
    position: relative;
    margin-top: 1000px;
}
.card5{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front5, .back5 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front5, img {
    height: 100%;
}
.back5 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front5 {
    transform: perspective(600px) rotateY(0deg);
}
.back5-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender5 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid pink;
    border-radius: 20px;
}
#gender5 {
    color: pink;
    position: relative;
}
.card5:hover > .front5 {
    transform: perspective(600px) rotateY(-180deg);
}
.card5:hover > .back5 {
    transform: perspective(600px) rotateY(0deg);
}





/* puppy 6 */
.puppy6 {
    position: relative;
    margin-top: 1000px;
    margin-left: 1200px;
}
.card6 {
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front6, .back6 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front6, img {
    height: 100%;
}
.back6 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front6 {
    transform: perspective(600px) rotateY(0deg);
}
.card6:hover > .front6 {
    transform: perspective(600px) rotateY(-180deg);
}
.card6:hover > .back6 {
    transform: perspective(600px) rotateY(0deg);
}
.back6-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender6 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid #66fcf1;
    border-radius: 20px;
}
#gender6 {
    color: #66fcf1;
    position: relative;
}






/* puppy 7 */
.puppy7 {
    position: relative;
    margin-top: 1600px;
    margin-left: -1200px;
}
.card7 {
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front7, .back7 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front7, img {
    height: 100%;
}
.back7 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front7 {
    transform: perspective(600px) rotateY(0deg);
}
.card7:hover > .front7 {
    transform: perspective(600px) rotateY(-180deg);
}
.card7:hover > .back7 {
    transform: perspective(600px) rotateY(0deg);
}
.back7-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender7 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid pink;
    border-radius: 20px;
}
#gender7 {
    color: pink;
    position: relative;
}





/* puppy 8 */
.puppy8 {
    position: relative;
    margin-top: 1600px;
}
.card8 {
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front8, .back8 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front8, img {
    height: 100%;
}
.back8 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front8 {
    transform: perspective(600px) rotateY(0deg);
}
.card8:hover > .front8 {
    transform: perspective(600px) rotateY(-180deg);
}
.card8:hover > .back8 {
    transform: perspective(600px) rotateY(0deg);
}
.back8-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender8 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid  #66fcf1;
    border-radius: 20px;
}
#gender8 {
    color:  #66fcf1;
    position: relative;
}





/* puppy 9 */
.puppy9 {
    position: relative;
    margin-top: 1600px;
    margin-left: 1200px;
}
.card9 {
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front9, .back9 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front9, img {
    height: 100%;
}
.back9 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front9 {
    transform: perspective(600px) rotateY(0deg);
}
.card9:hover > .front9 {
    transform: perspective(600px) rotateY(-180deg);
}
.card9:hover > .back9 {
    transform: perspective(600px) rotateY(0deg);
}
.back9-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender9 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid  #66fcf1;
    border-radius: 20px;
}
#gender9 {
    color:  #66fcf1;
    position: relative;
}




.batch2 {
    position: relative;
    height: 100%;
    background-color: #1f2833;
}
/* puppy 10 */
.puppy10 {
    position: relative;
    margin-top: 2200px;
    margin-left: -1200px;
}
.card10 {
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front10, .back10 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front10, img {
    height: 100%;
}
.back10 {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.front10 {
    transform: perspective(600px) rotateY(0deg);
}
.card10:hover > .front10 {
    transform: perspective(600px) rotateY(-180deg);
}
.card10:hover > .back10 {
    transform: perspective(600px) rotateY(0deg);
}
.back10-content {
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.gender10 {
    top: -140px;
    position: relative;
    letter-spacing: 5px;
    border: 2px solid  #66fcf1;
    border-radius: 20px;
}
#gender10 {
    color:  #66fcf1;
    position: relative;
}

